/*Style*/
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
p {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 20 0 20;
  line-height: 100%;
}
/*Image*/
img {
    width: auto;
    height : auto;
    max-width: 100%;
    margin-top: 75px;
}
.me {
    margin: 48px auto 16px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
/*Navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00BCD4;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
li {
  float: left;
  position: relative;
}
li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}
/*Active*/
li a:hover {
  background-color: #FF14A2;
}
.active::after {
    height: 4px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #FF14A2;
}
/*footer*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #CBCBCB;
}
