.wrapper {
    padding-top: 3.5em;
}
h4, h5, p {
  padding-bottom: 1em;
}
h4 {
  text-align: justify;
}
h5 {
  text-decoration: underline;
}
ol {
  list-style-type: none;
  margin: 0 20px;
  font-size: 12px;
  padding-left: 5em;
}
